# heroku config
SENDGRID_USERNAME: <%= ENV["SENDGRID_USERNAME"] %>
SENDGRID_PASSWORD: <%= ENV["SENDGRID_PASSWORD"] %>

production:
  SECRET_KEY_BASE: <%= ENV["SECRET_KEY_BASE"] %>
  NEW_RELIC_LICENSE_KEY: <%= ENV["NEW_RELIC_LICENSE_KEY"] %>